.fruitColumn {
    background-color: gainsboro;
}

.fruitColumns {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.fruitColumnText {
    padding: 8px !important;
}

.fruitColumnButton {
    padding: 0px !important;
}

.noMarginBottom {
    margin-bottom: 0px !important;
}

.textAlignRight {
    text-align: right !important;
}